{% extends 'base.html' %}

{% block content %}
<h1>Сервис управления рассылками</h1>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
            <div class="card-header">Всего рассылок</div>
            <div class="card-body">
                <h5 class="card-title">{{ total_mailings|default:0 }}</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-info mb-3">
            <div class="card-header">Активных рассылок</div>
            <div class="card-body">
                <h5 class="card-title">{{ active_mailings|default:0 }}</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header">Уникальных клиентов</div>
            <div class="card-body">
                <h5 class="card-title">{{ unique_clients|default:0 }}</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}

