{% extends 'base.html' %}

{% block content %}
<h1>Клиенты</h1>
<a href="{% url 'clients:create' %}" class="btn btn-success mb-3">Добавить клиента</a>
<ul class="list-group">
    {% for client in clients %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ client.full_name }} - {{ client.email }}
        <div>
            <a href="{% url 'clients:update' client.pk %}" class="btn btn-sm btn-outline-success">Ред</a>
            <a href="{% url 'clients:delete' client.pk %}" class="btn btn-sm btn-outline-danger">Уд</a>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
